{%- comment -%}
    Renders logo for header.

    Accepts:

     -  is_overlap_header (Boolean)
{%- endcomment -%}

<div class="h1 header__heading">
    <a href="{{ routes.root_url }}" class="header__heading-link focus-inset">
        {%- liquid
            assign logo_keys = 'logo'
            if is_overlap_header
                assign logo_keys = 'logo_2|logo' | split: '|'
            endif
        -%}
        {%- for key in logo_keys -%}
            {%- liquid
                case key
                    when 'logo'
                        assign logo = section.settings.logo
                    when 'logo_2'
                        assign logo = settings.header_logo_2
                endcase

                if logo == blank
                    continue
                endif

                assign image_alt = logo.alt | default: shop.name | escape
                assign image_sizes = '#w#px' | replace: '#w#', section.settings.logo_width
                assign image_style = null
                if section.settings.logo_width < logo.width
                    assign image_style = 'max-width: #w#px' | replace: '#w#', section.settings.logo_width
                endif

                for dpr in (1..3)
                    assign image_width = section.settings.logo_width | times: dpr
                    if image_width > logo.width
                        assign image_width = logo.width
                    endif
                    if forloop.first
                        assign image_widths = image_width | append: ''
                    else
                        assign image_widths = image_widths | append: ', ' | append: image_width
                    endif
                    if image_width == logo.width
                        break
                    endif
                endfor

                assign image_class = 'header__heading-' | append: key
            -%}
            {{
                logo
                | image_url: width: image_width
                | image_tag:
                    class: image_class,
                    alt: image_alt,
                    widths: image_widths,
                    sizes: image_sizes,
                    preload: true,
                    style: image_style
            }}
        {%- endfor -%}

        {%- if section.settings.logo == blank -%}
            <style>
                .header__heading-link .h3 {
                    color: currentColor;
                    font-weight: normal;
                    margin: 0;
                    word-break: break-all;
                }
            </style>
            <span class="h3">
                {%- liquid
                    assign delimiter = ' '
                    unless shop.name contains delimiter
                        assign delimiter = '.'
                    endunless
                    assign parts = shop.name | split: delimiter
                    for part in parts
                        if forloop.first
                            echo part | prepend: '<strong>' | append: '</strong>'
                        else
                            echo part | prepend: delimiter
                        endif
                    endfor
                -%}
            </span>
        {%- endif -%}
    </a>
</div>
